body{
    text-align:center;
    background-color:#e5ccff;
    color:purple;
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
    border-width:5px;	
    border-style:inset;
    position:relative;
    border-color:purple;
    margin:30px;
}

#title{
    font-size:50px;
    font-family: 'Libre Baskerville', serif;
    }