body {
    text-align: center;
    background-color: #e5ccff;
    color: purple;
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
    border-width: 5px;
    border-style: inset;
    position: relative;
    border-color: purple;
    margin: 30px;
    background-image: url(purpleSpace.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    text-shadow: 3.5px 3.5px black;
}

#title {
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 2px #4F4275;
}

#text {
    text-shadow: 10px 8px black;
}

.phrase {
    text-shadow: 10px 8px black;
}

p {
    text-shadow: 5px 5px black;
}
#cloud1{
    float:right;
    margin:50px;
}
#cloud2{
     float:left;
     margin:50px;
}
#pic{
    padding-top: 20px;
    padding-bottom: 20px;
}